<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta name='description' content='Boilerplate using TimePHP'>
    <meta name='keywords' content='HTML, CSS, TWIG, PHP'>
    <meta name='author' content='Robin Bidanchon'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />

    <link rel='stylesheet' href='{{ asset("css/main.css") }}'>
    {% block style %}{% endblock %}

    <link rel="icon" href="{{ asset('src/logo.ico') }}" />

    <title>{% block title %}TimePHP - Demo App{% endblock %}</title>

</head>

<body>
    {% block body %}{% endblock %}
</body>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.3/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
{% block javascript %}{% endblock %}

</html>