<div class="col-4">
	<div class="card h-100">
		<div class="card-body">
			<h5 class="card-title" style="height:60px">{{ title }}</h5>
			<p class="card-text">{{ content }}</p>
			<a href="{{ buttonLink }}" class="btn btn-primary">{{ buttonLabel }}</a>
		</div>
	</div>
</div>
