<div class="bg-dark text-center mt-5" style="padding: 40px 0 30px 0;">
	<div class="text-white">
		<a href="https://github.com/TimePHP-Org/TimePHP" target="_blank" class="text-white pr-2">Github</a> | <a href="https://timephp-org.github.io/TimePHP-Docs/#/" target="_blank" class="text-white pl-2">Documentation</a>
		<p class="mt-2">TimePHP 2020</p>
	</div>
</div>
